In [38]:
import pandas as pd

In [39]:
s = pd.Series([1,2,5,8,9,6])
print(s.add(78))

0    79
1    80
2    83
3    86
4    87
5    84
dtype: int64

In [40]:
data = {

    'Nom': ['Alice', 'BARRY', 'Charly'], 
    'Age' : [24,27,22],
    'Ville': ['Paris', 'Londres', 'Burkina Faso']
}

df = pd.DataFrame(data)

print(f"An example of DataFrame : {df}\n")


data1 = [1,2,5,8,9,6,10]
print(pd.DataFrame(data1))

An example of DataFrame :       Nom  Age         Ville
0   Alice   24         Paris
1   BARRY   27       Londres
2  Charly   22  Burkina Faso

    0
0   1
1   2
2   5
3   8
4   9
5   6
6  10

In [41]:
df = pd.read_csv('house-prices.csv')

print(df.head())

   Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0     1  114300  1790         2          2       2    No         East
1     2  114200  2030         4          2       3    No         East
2     3  114800  1740         3          2       1    No         East
3     4   94700  1980         3          2       3    No         East
4     5  119800  2130         3          3       3    No         East

In [42]:
print(df['Bathrooms'])

0      2
1      2
2      2
3      2
4      3
      ..
123    3
124    3
125    2
126    3
127    3
Name: Bathrooms, Length: 128, dtype: int64

In [43]:
# Manipulation de données 

print(f"df[['Bathrooms','Bedrooms']]\n")


# selection de lignes 

print(df.iloc[:5])

df[['Bathrooms','Bedrooms']]

   Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0     1  114300  1790         2          2       2    No         East
1     2  114200  2030         4          2       3    No         East
2     3  114800  1740         3          2       1    No         East
3     4   94700  1980         3          2       3    No         East
4     5  119800  2130         3          3       3    No         East

In [44]:
# filtrage des données 

print(df.isnull().sum())

Home            0
Price           0
SqFt            0
Bedrooms        0
Bathrooms       0
Offers          0
Brick           0
Neighborhood    0
dtype: int64

In [45]:
liste_1 = [1,2,5,6,3,8]

list_2 = [1,2,5,8]

df_1 = pd.DataFrame([liste_1, list_2])

print(df_1)


print(df_1.isnull().sum())

   0  1  2  3    4    5
0  1  2  5  6  3.0  8.0
1  1  2  5  8  NaN  NaN
0    0
1    0
2    0
3    0
4    1
5    1
dtype: int64

In [46]:
# remplace les valeurs manquantes par 0


df_1.fillna(0, inplace=True )

print(df_1)

   0  1  2  3    4    5
0  1  2  5  6  3.0  8.0
1  1  2  5  8  0.0  0.0

In [47]:
# supression des lignes contenant des valeurs manquantes 


df_1.dropna(inplace=True )

print(df_1)

   0  1  2  3    4    5
0  1  2  5  6  3.0  8.0
1  1  2  5  8  0.0  0.0

In [55]:
# Groupement des données (groupby)

# Application de fonctions (apply , map ,lambda)


# 

# 9. Fusion de DataFrames (merge, join)
# Pandas offre plusieurs méthodes pour combiner des DataFrames.

# Exemple avec merge() :
# python

df1 = pd.DataFrame({
    'Nom': ['Alice', 'Bob', 'Charles'],
    'Age': [24, 27, 22]
})
df2 = pd.DataFrame({
    'Nom': ['Alice', 'Bob', 'David'],
    'Ville': ['Paris', 'Londres', 'Berlin']
})

result = pd.merge(df1, df2, on='Nom')
print(result)

     Nom  Age    Ville
0  Alice   24    Paris
1    Bob   27  Londres

In [ ]:
# Exercice